@{
    ViewData["Title"] = "Manage Trainers";
}

<h2 class="mb-4">Manage Trainers</h2>

<p>Manage the list of trainers, edit details or assign to sports.</p>

<a asp-action="Index" class="btn btn-secondary">View All Trainers</a>
