@{
    ViewData["Title"] = "Manage Facilities";
}

<h2 class="mb-4">Manage Facilities</h2>

<p>View and manage all sport complex facilities.</p>

<a asp-action="Index" class="btn btn-warning">View All Facilities</a>
